.boxicon-side .SS-CSM-icons {
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px;
    padding: 0px 0px 15px;
}

.boxicon-side .SS-CSM-icons .csm-contet-cirl {
    width: 100%;
    box-shadow: 0px 0px 40px 0px rgb(8 8 8 / 9%);
    margin-bottom: 15px;
}

.boxicon-side .SS-CSM-icons .csm-contet-cirl .csm-circl {
    padding: 2rem 4rem 2rem 4rem;
    position: relative;
}

.boxicon-side .SS-CSM-icons .csm-contet-cirl .csm-circl-icon {
    position: absolute;
    width: 60px;
    left: -20px;
    top: 20px;
}

.it_infra_slider_small .it_infra_slide_con_inner {
    text-align: center;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.it_infra_slider_small .it_infra_slide_con_inner>h2 {
    font-size: 20px;
    margin: 0px 0 25px;
}

.it_infra_slider_small .it_infra_slide_con_inner .slide_more {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
}

.cloud-solutions-main .CSm-colorbg .row {
    margin: 0px;
}

.network-monitoring1:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Network-Monitoring.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.network-monitoring2:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Application-and-Database-Monitoring_.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.network-monitoring3:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Active-Directory-Monitoring.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.network-monitoring4:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Log-Flow-Monitoring-copy.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.network-monitoring5:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Network-Configuration-Manager_.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

/*Asset-mangemtn*/

.asset-management1:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Network-Monitoring.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.asset-management2:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Application-and-Database-Monitoring_.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.asset-management3:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Active-Directory-Monitoring.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.asset-management4:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Log-Flow-Monitoring-copy.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.asset-management5:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Network-Configuration-Manager_.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

/*cloud-solution1*/

.enduser1:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Personal-Computers-&-rComputing.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.enduser2:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Printers-&-Scanners_.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.enduser3:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/UPS-&-Power-Supply-Systems_.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.enduser4:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Connectivity.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.enduser5:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/CCTV_.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

/*end-user1*/

.cloud-solution1:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Consulting-Services_.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.cloud-solution2:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Migration-&Deployment_.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.cloud-solution3:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Cloud-Security_.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

/*dataC-security*/

.dataC-security1:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Privilege-Access-Management_.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.dataC-security2:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Advance-Threat-Protection.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.dataC-security3:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Firewall_UTM_.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.dataC-security4:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Web-Proxy.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.dataC-security5:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/SECURITY-INFORMATION-AND%20EVENT-MANAGEMENT.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.dataC-security6:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Sandboxing.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

/*end-user1*/

/*
.cloud-solution1:hover .it_infra_slide_con_inner{background: url(../images/it_infra/Network-Monitoring.jpg) center center no-repeat;background-size: cover;   transition: all 0.8s ease;}

.cloud-solution2:hover .it_infra_slide_con_inner{background: url(../images/it_infra/Application-and-Database-Monitoring_.jpg) center center no-repeat;background-size: cover;   transition: all 0.8s ease;}

.cloud-solution3:hover .it_infra_slide_con_inner{background: url(../images/it_infra/Active-Directory-Monitoring.jpg) center center no-repeat;background-size: cover;   transition: all 0.8s ease;}
*/

/*content-style-1*/

.content-style-1 {
    padding-left: 3rem;
}

.content-style-1 p.bg-boxstyle {
    padding: 3rem;
    background: #f9f9f9;
}

.content-style-background-top {
    background: #f9f9f9;
    margin-top: -100px;
    padding: 5rem 0 3rem 0;
}

.content-style-2 {
    padding: 70px 80px;
    background: #dbdbdb;
}

.content-style-2 .other-service-title::after,
.other-service-title.ot-top:after {
    top: 50%;
}

.liststyle-boxcontent {
    display: flex;
    align-items: flex-start;
}

.liststyle-contentIMg {
    flex: 0 0 25%;
}

.liststyle-contentText {
    font-size: 15px;
}

.manage-service-bg {
    background: url(../images/it_infra/managed-services-bg.png);
    background-position: center;
    background-size: cover;
    padding: 3rem;
}

h3.inline-title {
    display: inline;
}

.databse-service-bg {
    background: url(../images/it_infra/oracle-database-service-section.png);
    background-position: center;
    background-size: cover;
    padding: 3rem;
}

.listtext-bg {
    background: #eef3f7;
    padding: 30px 0px;
}

.enduser-1-bg {
    background: url(../images/it_infra/END-USER-COMPUTING.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 30px;
}

/* Endpoint Security */

.end_bg1:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Endpoint\ Security\ with\ EDR.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.end_bg2:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Unified\ Endpoint\ Management_.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.end_bg3:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Identity\ and\ Access\ Management_.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.end_bg4:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/DATA\ LOSS\ PREVENTION.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.end_bg5:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Email\ Security_.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.end_bg6:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Multifactor-Authentication-bg.png) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.end_bg7:hover .it_infra_slide_con_inner {
    background: url(../images/it_infra/Mobile\ Device\ Management_.jpg) center center no-repeat;
    background-size: cover;
    transition: all 0.8s ease;
}

.AppBox-Wrapper {
    margin-bottom: 30px;
}

.Gravience-AppScreen.Happserve-modul {
    background: url(../images/gravience-app-screen.png);
    height: 100%;
    width: 100%;
    background-position: center;
    padding: 70px 30px 70px 30px;
}

@media only screen and (min-device-width: 992px) {
    .Appscreen-Box {
        min-height: 400px;
        margin: 50px 0px;
    }
    .Appscreen-Box>div.pl-25 {
        padding-left: 25%;
    }
    .Appscreen-Box>div.pr-25 {
        padding-right: 25%;
    }
    .appscreen-img {
        position: absolute;
        max-width: 25%;
    }
    .appscreen-img.left {
        left: -15px;
    }
    .appscreen-img.right {
        right: -15px;
    }
}

@media (max-width:991px) {
    .appscreen-img {
        max-width: 175px;
    }
    .pl-25 {
        order: 2;
        padding-left: 15px;
    }
    .pr-25 {
        padding-right: 15px;
    }
}

@media (max-width:576px) {
    .box-shadow-style {
        flex-direction: column;
    }
    .pr-25 {
        order: 2;
    }
    .ecom-block-box1-main,
    .ecom-block-box2-main {
        padding: 0;
    }
}