/*********Customer service page*************/

.smart-serve-blog>h1 {
    text-align: center;
    color: #e81e1e;
    margin-bottom: 0px;
}

.smart-serve-blog>h1>span {
    color: #0073e3;
}

.SS-CSM-icons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 950px;
    margin: 4rem auto 0px auto;
}

.csm-contet-cirl {
    flex-grow: 1;
    width: calc(100% * (1/4) - 10px - 1px);
    margin-bottom: 30px;
}

.csm-circl {
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

.csm-circl-icon {
    flex: 0 0 60px;
    height: 60px;
    border-radius: 50%;
    /* background: #e5f0fb; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-right: 28px;
}

.csm-circl-icon>img {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 45px;
}

.csm-service {
    font-size: 15px;
    color: #1f1f1f;
}

/* .CSm-colorbg .row{margin-top: 4rem;} */

.Csm-text>h4.service-center-title {
    color: #000;
}

.Csm-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
}

.Csm-text>h4.service-center-title {
    color: #434242;
}

.service-center-title {
    margin-top: 10px;
}

h4.service-center-title {
    color: #434242;
}

p.font-txt {
    padding: 0px;
}

.Happserve-modul {
    padding: 15px 0px 20px;
    background: url(../images/business-app/heppserve.png);
    background-size: cover;
    background-position: center;
    margin-top: 4rem;
}

.Happserve-modul .Csm-text>h4.service-center-title {
    color: #000;
}

.Csm-text>h4.service-center-title {
    color: #434242;
}

.network-right-side-title {
    font-size: 22px;
    line-height: 30px;
    /* color:#8B0000; */
    padding: 15px;
}

.network-right-list ul li {
    font-size: 14px;
    line-height: 20px;
    color: #191919;
    list-style: none;
}

.network-right-list ul li::before {
    content: "\25E6";
    color: #8B0000;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 25px;
}

.colorbg {
    padding: 30px 0;
    width: 100%;
}

ul.happserve-list {
    margin-top: 0px;
}

.ppc-titleCenter:after {
    right: 0;
    margin: 0 auto;
}

.color-2 {
    color: #e77325;
}

.network-right-list ul li>label {
    font-weight: 600;
}

.box-shadow-style {
    padding: 50px;
    width: 100%;
    ;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 40px 0px rgb(8 8 8 / 9%);
}

.csm-integrated {
    display: flex;
    align-items: center;
}

.csm-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/************PNG Net Page******************/

.PNGnetSection {
    display: inline-block;
    width: 100%;
}

.PNGnetSection .service-center-title {
    position: relative;
    display: table;
}

.listCircle,
.listCircleNasted {
    padding: 0px;
    margin-top: 1rem;
    padding-bottom: 20px;
}

.listCircle li,
.listCircleNasted li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #191919;
    list-style: none;
}

.listCircleNasted li:after {
    color: #000000 !important;
}

.listCircleNasted {
    padding-left: 1.5rem;
}

.listCircleNasted li {
    margin-bottom: 10px;
}

.listCircle li:after {
    content: "\f330";
    color: #8B0000;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    left: 0px;
    font-size: 17px;
    position: absolute;
    top: 0px;
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
}

.OP-Maintenance,
.CRM-Managment {
    background: #eef3f7;
}

.csm-intelligent,
.csm-integrated,
.csm-informative,
.csm-intuitive {
    position: relative;
}

.csm-informative {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pngbottom-content {
    height: auto;
}

.bgcolor-footer {
    background-color: #eef3f7;
}

/************Saralkharidi Page*******************/

.saralkharidicircle-contet.FSM-colorbg {
    padding-bottom: 0px;
    padding-top: 50px;
}

.saralkharidicircle-contet.FSM-colorbg .row.fsm-rowflex {
    display: flex;
    align-items: center;
}

.saralkharidi-mobileapp {
    background: #eef3f7;
    margin-top: 20px;
    padding-top: 20px;
}

.sarlkharidi-excitedblog>h4 {
    font-size: 32px;
    color: #444444;
    text-transform: uppercase;
}

.sarlkharidi-excitedblog>p {
    font-size: 20px;
}

.sarlkharidi-excitedblog>a {
    display: table;
    padding: 15px 20px;
    color: #fff;
    background: #000;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
}

/***********Field Sales Page****************/

.fsm_flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.FSM-direction {
    margin-top: 30px;
}

.padding-bottom {
    padding-bottom: 0;
}

/************Custom Loyalty Page****************/

.network-text p {
    font-size: 16px;
    line-height: 25px;
    color: #191919;
    margin-top: 20px;
}

.casestudy-img {
    display: flex;
    align-items: center;
    height: 100%;
}

.reward-bg {
    background: #eef3f7;
}

.rewardpoint-systme-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.rewardpointsblog {
    width: 100%;
}

.rewardpoint-circular {
    width: 25%;
    text-align: center;
}

.rewardpoint-circle {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(213, 214, 216);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 35px 15px;
    text-align: center;
    width: 150px;
    height: 150px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
}

.rewardpoint-circle>img {
    display: table;
    margin: 0 auto;
    width: 65px;
}

.rewardpoint-title>p {
    font-size: 20px;
}

.rewardpoint-circle:hover {
    border-color: #e77325;
}

.rewardpoint-title>p {
    font-size: 20px;
}

.manage-user img {
    width: 75px;
}

/********Enterprice Mobility Page****************/

.casestudy-imgBox {
    position: relative;
    padding: 1rem;
}

.casestudy-imgBox:after {
    position: absolute;
    content: "";
    top: -1rem;
    left: -1rem;
    height: 316px;
    width: 150px;
    background: url(../images/business-app/TP-dots-bg.png);
    background-size: cover;
    z-index: -1;
}

.server-content {
    display: flex;
    align-items: center;
}

/*********Project enterprise page************/

.borderbox-content {
    padding: 30px 0px;
}

.borderbox-content p.font-txt {
    padding: 0px;
}

.bgcolor-footer-padding {
    padding: 30px 20px;
}

.borderbox-content aside {
    margin-bottom: 20px;
}

/********Software dev. firm scale page*************/

.listCircle label {
    font-weight: 600;
}

/*********icemake india page**************/

.csm-modullist>ul {
    padding-left: 0px;
}

.csm-modullist>ul>li {
    margin-bottom: 10px;
    line-height: normal;
}

.csm-modullist>ul>li label {
    color: #ee8742;
}

/**********Awards Page**********/

/* .carousel-dark .carousel-indicators [data-bs-target]{background-color: #fff;} */

@media only screen and (min-width:768px) and (max-width:991px) {
    .csm-contet-cirl {
        margin-left: 15px;
        width: calc(100% * (1/4) - 40px - 1px);
    }
    .box-shadow-style {
        padding: 20px;
    }
    .PNGnetSection .service-center-title {
        font-size: 18px;
    }
    .rewardpoint-circle>img {
        max-width: 65px;
    }
    .rewardpoint-circle {
        height: 130px;
        width: 130px;
    }
    .rewardpoint-title>p {
        font-size: 18px;
    }
}

@media only screen and (max-width:600px) {
    .csm-circl-icon {
        flex: 0 0 50px;
        height: 50px;
    }
    .csm-circl-icon>img {
        max-width: 35px;
        max-height: 30px;
    }
    .rewardpoint-circle>img {
        max-width: 50px;
    }
    .rewardpoint-circle {
        height: 100px;
        width: 100px;
    }
    .rewardpoint-title>p {
        font-size: 14px;
    }
}

@media only screen and (max-width:479px) {
    .csm-contet-cirl {
        width: calc(100% * (1/2) - 10px - 1px);
        max-width: 300px;
    }
    .csm-service {
        font-size: 0.85rem;
    }
    .csm-circl {
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }
    .rewardpoint-systme-content {
        flex-wrap: wrap;
    }
    .rewardpoint-circular {
        width: 50%;
    }
    .awards-btn span {
        font-size: 12px;
        padding: 7px 5px 10px 5px;
    }
}

@media (max-width:767px) {
    .csm-circl {
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }
    .csm-circl-icon {
        margin: 0 0 15px 0px;
    }
    .csm-service {
        flex: 0 0 100%;
        text-align: center;
        justify-content: center;
    }
    .box-shadow-style {
        padding: 20px;
    }
    .Happserve-modul {
        background: none;
        background-color: #eef3f7;
    }
    .sarlkharidi-excitedblog {
        text-align: center;
    }
    .sarlkharidi-excitedblog>a {
        margin: 0 auto;
    }
    .saralkharidi-desktop-img {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .FSM-direction .FSM-Img-text {
        order: 2;
    }
    .FSM-direction .FSM-Img-part {
        order: 1;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
    }
    .rewardpoint-circle>img {
        max-width: 55px;
    }
    .rewardpoint-circle {
        height: 110px;
        width: 110px;
    }
    .rewardpoint-title>p {
        font-size: 16px;
    }
    .ordering {
        order: 1;
    }
    .block-bottom-content {
        margin-top: 30px !important;
    }
}