<!DOCTYPE html>
<html lang="en" ng-app="AditWebApp">
<!-- InstanceBegin template="/Templates/inner.dwt" codeOutsideHTMLIsLocked="false" -->

<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>All Care Contact Us</title>
    <meta name="description" content="" />
    <meta name="keywords" content="Software Development contact us, web development contact us, mobile app development contact us, SEO contact us, ecommerce development contact us and responsive web design contact us." />
    <meta name="robots" content="NOODP,NOYDIR" />
    <meta name="Robots" content="index, follow" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@aditmicrosys" />
    <meta name="twitter:creator" content="@aditmicrosys" />
    <meta property="og:url" content="http://www.theallcare.in/contact-us.html" />
    <meta property="og:type" content="" />
    <meta property="og:title" content="All Care - Contact us" />
    <meta property="og:description" content="Contact us" />
    <meta property="og:image" content="http://www.theallcare.in/assets/images/contact-us-banner.jpg" />
    <!-- InstanceEndEditable -->
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Google tag (gtag.js) -->
    <script async src=https://www.googletagmanager.com/gtag/js?id=G-L59VHGJ2GZ></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-L59VHGJ2GZ');
    </script>
    <!-- Google tag (gtag.js) -->
    <script type="text/javascript">
        (function(c, l, a, r, i, t, y) {
            c[a] = c[a] || function() {
                (c[a].q = c[a].q || []).push(arguments)
            };
            t = l.createElement(r);
            t.async = 1;
            t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0];
            y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "br44wjspcg");
    </script>
    <!-- CSS Implementing Plugins -->
    <link rel="preload" href="assets/css/vendor.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
    <noscript>
    <link rel="stylesheet" href="assets/css/vendor.min.css">
  </noscript>
    <link rel="preload" href="assets/css/fontawesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
  </noscript>
    <link rel="preload" href="assets/css/owl.carousel.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  </noscript>
    <link rel="stylesheet" href="assets/css/theme.min.css">
    <link rel="preload" href="assets/css/style.css?v=1.2" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
    <link rel="stylesheet" href="assets/css/style.css?v=1.2">
  </noscript>

    <link rel="stylesheet" href="./assets/css/s.css">
    <link rel="stylesheet" href="./assets/css/d.css">
    <link rel="stylesheet" href="./assets/css/m.css">


    <link rel="preload" href="assets/css/responsive.css?v=1.2" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
    <link rel="stylesheet" href="assets/css/responsive.css?v=1.2">
  </noscript>

    <!-- CSS Front Template -->
    <!-- <link rel="stylesheet" href="./assets/css/theme.min.css?v=1.2">
  <link rel="stylesheet" href="./assets/css/style.css?v=1.2">
  <link rel="stylesheet" href="./assets/css/responsive.css?v=1.2"> -->
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PZ7SLVB');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZ7SLVB" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- ========== HEADER ========== -->
    <header id="header" class="navbar sticky-top navbar-expand-lg navbar-end navbar-absolute-top navbar-light navbar-show-hide">
        <div class="container">
            <nav class="js-mega-menu navbar-nav-wrap">
                <!-- Default Logo -->
                <a class="navbar-brand" href="/allcare/index.html" aria-label="Front"> <img class="navbar-brand-logo"
            src="assets/images/logo.png" alt="Logo"> </a>
                <!-- End Default Logo -->
                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span
            class="navbar-toggler-default"> <i class="fa-solid fa-bars"></i> </span> <span
            class="navbar-toggler-toggled"> <i class="fa-solid fa-xmark"></i> </span> </button>
                <!-- End Toggler -->
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="navbar-absolute-top-scroller">
                <ul class="navbar-nav">
                    <li class="hs-has-sub-menu nav-item"> <a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">Company</a>
                        <div class="hs-sub-menu dropdown-menu" aria-labelledby="pagesMegaMenu" style="min-width: 14rem;"> <a class="dropdown-item " href="javascript:void(0)"><i class="fa-solid fa-circle-user"></i> Who We Are</a> <a class="dropdown-item " href="javascript:void(0)"><i class="fa-solid fa-award"></i> Awards</a>
                            <a class="dropdown-item " href="javascript:void(0)"><i class="fa-solid fa-users"></i> Team</a><a class="dropdown-item " href="javascript:void(0)"><i class="fa-solid fa-user"></i> Careers</a> <a class="dropdown-item " href="javascript:void(0)" target="_blank"><i class="fa-solid fa-blog"></i> Blog</a>
                        </div>
                    </li>
                    <li class="hs-has-mega-menu nav-item">
                        <a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="javascript:void(0)" role="button" aria-expanded="false">IT Infra Solutions</a>
                        <div class="hs-mega-menu hs-position-right dropdown-menu w-100 hs-mega-menu-desktop-lg animated fadeOut megamenu_custum_inner_div" aria-labelledby="pagesMegaMenu" style="min-width: 42rem; animation-duration: 300ms; display: none;">
                            <div class="navbar-dropdown-menu-inner  ">
                                <div class="row">
                                    <div class="col-sm-6 col-md-3 mb-md-0">
                                        <span class="dropdown-header tog1"><i class="fa-regular fa-desktop"></i></span>
                                        <div class="tog2">
                                            <a class="dropdown-item " href="javascript:void(0)">Gaming PC</a>
                                            <a class="dropdown-item " href="javascript:void(0)">CCTV</a>
                                            <a class="dropdown-item " href="javascript:void(0)">Laptop</a>
                                            <a class="dropdown-item " href="javascript:void(0)">Desktop</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-md-0">
                                        <span class="dropdown-header tog1"><i class="fa-regular fa-server"></i></span>
                                        <div class="tog2">
                                            <a class="dropdown-item " href="javascript:void(0)">Server</a>
                                            <a class="dropdown-item " href="javascript:void(0)">Firewall</a>
                                            <a class="dropdown-item " href="javascript:void(0)">Biometric</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-md-0">
                                        <span class="dropdown-header tog1"><i class="fa-regular fa-ethernet"></i></span>
                                        <div class="tog2">
                                            <a class="dropdown-item " href="javascript:void(0)">Software</a>
                                            <a class="dropdown-item " href="javascript:void(0)">Networking</a>
                                            <a class="dropdown-item " href="javascript:void(0)">PA System</a>
                                            <a class="dropdown-item " href="javascript:void(0)">Digital Marketing</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-md-0">
                                        <span class="dropdown-header tog1"><i class="fa-regular fa-wifi"></i><span>
                    <div class="tog2">
                      <a class="dropdown-item " href="javascript:void(0)">WiFi</a>
                      <a class="dropdown-item " href="javascript:void(0)">Home Automation</a>
                    </div>
                  </div>
                </div>
                <div class="dropdown-divider sap_res_none"></div>
                <div class="row">
                  <div class="col-sm-6 col-md-3 mb-md-0">
                    <span class="dropdown-header mega_tl tog1"><i class="fa-regular fa-solar-panel"></i></span>
                                        <div class="tog2">
                                            <a class="dropdown-item " href="javascript:void(0)">Fire</a>
                                            <a class="dropdown-item " href="javascript:void(0)">Solar</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-md-0">
                                        <span class="dropdown-header tog1"><i class="fa-regular fa-print"></i></span>
                                        <div class="tog2">
                                            <a class="dropdown-item " href="javascript:void(0)">Printer</a>
                                            <a class="dropdown-item " href="javascript:void(0)">Smart class</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-md-0">
                                        <span class="dropdown-header tog1"><i class="fa-regular fa-bolt"></i></span>
                                        <div class="tog2">
                                            <a class="dropdown-item " href="javascript:void(0)">Eletrical</a>
                                            <a class="dropdown-item " href="javascript:void(0)">RFID & NFC Solutions</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-md-0">
                                        <span class="dropdown-header tog1"><i class="fa-regular fa-audio-description"></i></span>
                                        <div class="tog2">
                                            <a class="dropdown-item " href="javascript:void(0)">Audio & Video Solutions</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="hs-has-sub-menu nav-item services-nav">
                        <a id="companyMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
                        <div class="hs-sub-menu dropdown-menu services-nav1" aria-labelledby="accountMegaMenu" style="min-width: 14rem;">
                            <!-- <div class="hs-has-sub-menu nav-item">
                                <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle " href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">Desktop</a>
                            </div> -->
                            <a class="dropdown-item " href="javascript:void(0)"><i class="fa-solid fa-desktop"></i> Desktop</a>
                            <a class="dropdown-item " href="javascript:void(0)"><i class="fa-solid fa-server"></i> Server</a>
                            <a class="dropdown-item " href="javascript:void(0)"><i class="fa-solid fa-database"></i> Software</a>
                            <a class="dropdown-item " href="javascript:void(0)"><i class="fa-solid fa-ethernet"></i> Networking</a>
                            <a class="dropdown-item " href="javascript:void(0)"><i class="fa-solid fa-bolt"></i> Eletrical</a>
                        </div>
                    </li>
                    <li class="hs-has-sub-menu nav-item"> <a id="pagesMegaMenu"
                        class="hs-mega-menu-invoker nav-link dropdown-toggle " href="javascript:void(0)" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Case Studies</a>
                      <div class="hs-sub-menu dropdown-menu" aria-labelledby="pagesMegaMenu" style="min-width: 14rem;">
                        <a class="dropdown-item " href=javascript:void(0)"><i class="fa-solid fa-camera"></i> CCTV</a>
                        <a class="dropdown-item " href="javascript:void(0)"><i class="fa-solid fa-ethernet"></i> Networking</a>
                        <a class="dropdown-item " href="javascript:void(0)"><i class="fa-solid fa-database"></i> Software</a>
                        <a class="dropdown-item " href="javascript:void(0)"><i class="fa-solid fa-bolt"></i> Eletrical</a>
                      </div>
                    </li>
                    <li> <a href="/allcare/contact/contact-us.html" class="hs-mega-menu-invoker nav-link">Contact Us</a> </li>
                    <li class="nav-item nav-rt-btn"> <a class="btn-transition" href="javascript:void(0)">Shop <i
                class="fa-light fa-shop"></i></a> </li>
                    <!-- <li class="nav-item nav-rt-btn"> <a class="btn-transition" href="/lets_talk/request-for-proposal.html">Let's Talk <i
                class="fa-light fa-angles-right joinus"></i></a> </li> -->
                </ul>
            </div>
          </div>
          <!-- End Collapse -->
            </nav>
        </div>
    </header>

    <!-- ========== END HEADER ========== -->
    <section>
        <!-- InstanceBeginEditable name="EditRegion5" -->
        <div class="head-top-sticky home-slider inner-slider">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="banner">
                            <img src="assets/images/banner/contact.jpg" alt="banner" class="img-fluid">
                            <div class="banner-tl-block">
                                <div class="banner-tl-block-inner">
                                    <h1>Contact Us</h1>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/allcare/index.html">Home</a></li>
                                            <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Company</a></li> -->
                                            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- InstanceEndEditable -->
    </section>
    <!-- InstanceBeginEditable name="EditRegion4" -->
    <section>
        <div class="inner-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="h2-tl">
                            <h2>Let's talk to <span>discover possibilities</span></h2>
                        </div>
                        <div class="who-we-top">
                            <h2></h2>

                        </div>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col-sm-4">
                        <div class="box-shadow contact-box">
                            <div class="con-box con-box1">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="assets/images/icon/address.png" alt="address">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p>27/B <br> Bidhannagar Road, Kolkata 7000067,<br> West Bengal - India.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box-shadow contact-box">
                            <div class="con-box con-box2">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="assets/images/icon/mail.png" alt="address">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p><label>Inquiries: &nbsp;</label><a href="mailto:allcarekolkata@gmail.com">sanjay@theallcare.in</a></p>
                                        <!-- <p><label>Careers: &nbsp;</label><a href="mailto:careers@aditmicrosys.com">careers@aditmicrosys.com</a></p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box-shadow contact-box">
                            <div class="con-box con-box3">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img src="assets/images/icon/phone-call.png" alt="address">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p><label>Call Us:</label> <a href="tel:+91 7980030950">7980030950</a></p>
                                        <!-- <p><label>HR:</label> <a href="tel:079-67779733">079 - 6777 9766</a></p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="box_sty1">
                <div class="container">
                    <div class="row">
                        <div class="">
                            <div class="col-sm-12 mb-5">
                                <div class="h2-tl">
                                    <h2>Talk to us about project development, building business partnerships and <span>anything related to technology.</span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-6 box_sty1_right mt-2">
                            <div class="box_sty1_right_inner w100">
                                <div class="contact-boxicenter w100">
                                    <div class="adt-contact-dtls2">
                                        <h3>Corporate Systems Integration Company</h3>
                                    </div>
                                    <div class="contact-us-icon">
                                        <div class="con-icon">
                                            <i class="fa-light fa-mobile-button"></i>
                                        </div>
                                        <div class="icon-text">
                                            <label>Sanjay Kumar</label>
                                            <p><a href="tel:+91-79800 30950">+91 79800 30950</a></p>
                                        </div>
                                    </div>
                                    <div class="adt-contact-dtls inquiry-details">
                                        <div class="contact-us-icon">
                                            <div class="con-icon">
                                                <i class="fa-light fa-envelope-open"></i>
                                            </div>
                                            <div class="icon-text">
                                                <label>Inquiries</label>
                                                <p><a href="mailto:allcarekolkata@gmail.com">sanjay@theallcare.in</a></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="adt-contact-dtls">
                                        <h3>Sales & Service Provider</h3>
                                    </div>
                                    <div class="contact-us-icon">
                                        <div class="con-icon">
                                            <i class="fa-light fa-mobile-button"></i>
                                        </div>
                                        <div class="icon-text">
                                            <label>Sanjay Kumar</label>
                                            <p><a href="tel:+91-79800 30950">+91 79800 30950</a></p>
                                        </div>
                                    </div>
                                    <div class="adt-contact-dtls inquiry-details">
                                        <div class="contact-us-icon">
                                            <div class="con-icon">
                                                <i class="fa-light fa-envelope-open"></i>
                                            </div>
                                            <div class="icon-text">
                                                <label>Inquiries</label>
                                                <p><a href="mailto:allcarekolkata@gmail.com">sanjay@theallcare.in</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 box_sty1_left">
                            <div class="contact-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14734.36997089609!2d88.3755737!3d22.5943397!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02763be409a201%3A0xdcb1c5b80e09605b!2sAll%20Care%20Corporation!5e0!3m2!1sen!2sin!4v1718991178432!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="box_sty1_bt-pad-0">
                <div class="container">
                    <div class="row">
                        <div class="certificate">
                            <div class="alliances-group">
                                <img src="assets/images/certi3.png">
                                <img src="assets/images/certi1.png">
                                <img src="assets/images/isoda.jpg">
                                <img src="assets/images/certi7.png">
                            </div>
                            <div class="credentials-group">
                                <img src="assets/images/pt1.jpg">
                                <img src="assets/images/pt2.jpg">
                                <img src="assets/images/pt3.jpg">
                                 <img src="assets/images/pt7.jpg"> 
                                <img src="assets/images/certi4.png">
                                <img src="assets/images/certi2.png">
                                <img src="assets/images/certi6.png">
                                <img src="assets/images/certi5.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->




        </div>
    </section>
    <!-- InstanceEndEditable -->
    <!-- ========== FOOTER ========== -->
    <footer class="footer-div">
        <div class="container pb-1 pb-lg-5">
            <div class="row content-space-t-2">
                <div class="col-md-5 col-sm-6">
                    <div class="footer_t_left1">
                        <h3>We would be happy to answer your questions.</h3>
                        <ul class="social-block">
                            <li><a target="_blank" href="https://www.facebook.com/aditmicrosys"><i
                    class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/company/adit-microsys-pvt-ltd-"><i
                    class="fa-brands fa-linkedin-in"></i></a></li>
                            <li><a target="_blank" href="https://twitter.com/aditmicrosys"><i class="fa-brands fa-x-twitter"></i></a>
                            </li>
                            <li><a target="_blank" href="https://in.pinterest.com/aditmicrosys/"><i
                    class="fa-brands fa-pinterest-p"></i></a></li>
                            <li><a target="_blank" href="https://www.youtube.com/channel/UCsqkRXUM_RxD-OiUsxRASvg"><i
                    class="fa-brands fa-youtube"></i></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/adit_microsys/?hl=en"><i
                    class="fa-brands fa-instagram"></i></a></li>
                            <li><a target="_blank" href="https://www.behance.net/aditmicrosys"> <i
                    class="fa-brands fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer_t_center">
                        <h4>Contact Details</h4>
                        <ul>
                            <li class="f_addresh">27/B <br> Bidhannagar Road, Kolkata 7000067,<br> West Bengal - India.</li>
                            <li class="f_contact"><a href="https://api.whatsapp.com/send/?phone=7980030950&text&type=phone_number&app_absent=0" target="_blank"> +91 79800 30950 </a></li>
                            <li class="f_email"><a target="_blank" href="mailto:sanjay@theallcare.in">sanjay@theallcare.in</a></li>
                            <li class="f_email"><a target="_blank" href="mailto:allcarekolkata@gmail.com">allcarekolkata@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="footer_t_right" ng-controller="RequestCallbackController" ng-cloak>
                        <h4>Quick Quote</h4>
                        <div class="footer-form">
                            <form name="EnquiryFormReqCall" novalidate>
                                <div class="mb-3">
                                    <input type="text" name="name" class="form-control" ng-model="Helpyou.Name" ng-pattern="/^[a-zA-Z\s]*$/" id="exampleInputname1" required placeholder="Your Name*">
                                    <div class="help-block with-errors has-error" style="color:red" ng-if="EnquiryFormReqCall.name.$invalid && EnquiryFormReqCall.name.$dirty">Enter valid name (Maximum 100 Characters)</div>
                                </div>
                                <div class="mb-3">
                                    <input id="form_email" type="email" name="email" ng-model="Helpyou.Email" class="form-control" placeholder="Please enter your email" required data-error="Valid email is required.">
                                    <div class="help-block with-errors has-error" style="color:red" ng-if="EnquiryFormReqCall.email.$invalid && EnquiryFormReqCall.email.$dirty">Valid email is required
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input type="tel" name="phone" class="form-control" ng-model="Helpyou.Mobile" id="examplePhone" placeholder="Phone Number*" required ng-minlength="10" ng-maxlength="20" ng-pattern="/^[0-9]{10,12}$/">
                                    <div class="help-block with-errors has-error" style="color:red" ng-if="EnquiryFormReqCallm.phone.$invalid && EnquiryFormReqCall.phone.$dirty">Valid contact number is required (10 to 20 Characters)</div>
                                </div>

                                <div class="mb-3">
                                    <textarea class="form-control" name="message" id="exampleFormControlTextarea1" ng-model="Helpyou.Message" rows="3" placeholder="Message*" ng-maxlength="500" required data-error="Please,leave us a message."></textarea>
                                    <div class="help-block with-errors has-error" style="color:red" ng-if="EnquiryFormReqCall.message.$invalid && EnquiryFormReqCall.message.$dirty">Enter valid requirement details (Maximum 500 Characters)</div>
                                </div>
                                <div class="footer-form-btn header-btn">
                                    <button class="button form-submitbuttonReqCall" ng-click="SendRequest()" ng-disabled="EnquiryFormReqCall.$invalid">
                    <span class="submit">
                      Submit Now <i class="fa-regular fa-angle-right"></i>
                    </span>
                    <span class="loading"><i class="fa fa-refresh"></i></span>
                    <span class="check"><i class="fa fa-check"></i></span>
                  </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Row -->
            <div class="row">
                <div class="col-md-6  mb-3 mb-sm-0 footer-bt-left">
                    <!-- Socials -->
                    <ul class="list-inline list-separator list-separator-light mb-0">
                        <!-- <li class="list-inline-item">
                            <a class="link-sm " href="javascript:void(0)" target="_blank">PORTFOLIO</a>
                        </li> -->
                        <li class="list-inline-item">
                            <a class="link-sm " href="javascript:void(0)" target="_blank">BLOG</a>
                        </li>
                        <li class="list-inline-item"> <a class="link-sm " href="/home/company/careers/careers.html">CAREERS</a> </li>
                        <li class="list-inline-item"> <a class="link-sm " href="/contact/contact-us.html">CONTACT US </a> </li>
                    </ul>
                    <p class="foo-left-copy">Copyright ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script> All Rights Reserved | Designed and Developed by MTPL
                    </p>
                    <!-- End Socials -->
                </div>
                <div class="col-md-6  mb-3 mb-sm-0 footer-bt-right">
                    <div class="col-sm-auto ">
                        <!-- Copyright -->

                        <!-- End Copyright -->
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- ========== END FOOTER ========== -->

    <!-- Go To -->
    <!--<a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;" data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "0.3rem"
         },
         "show": {
           "bottom": "2.8rem"
         },
         "hide": {
           "bottom": "-0.5rem"
         }
       }
     }'> <i class="fa-duotone fa-arrow-turn-up"></i> </a> -->
    <!-- ========== END SECONDARY CONTENTS ========== -->
    <!-- <script type="text/javascript">
        function add_chatinline() {
            var hccid = 74062303;
            var nt = document.createElement("script");
            nt.async = true;
            nt.src = "https://www.mylivechat.com/chatinline.aspx?hccid=" + hccid;
            var ct = document.getElementsByTagName("script")[0];
            ct.parentNode.insertBefore(nt, ct);
        }
        add_chatinline();
    </script> -->
    <div class="footer_ewblock">
        <div class="footer_ewblock_inner">
            <a target="_blank" href="mailto:allcarekolkata@gmail.com"><img src="assets/images/mail.png" alt=""> </a>
            <a target="_blank" href="https://wa.me/+917980030950"><img src="assets/images/whatsapp.png " alt=""> </a>
        </div>
    </div>
    <!-- JS Implementing Plugins -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script rel="prefetch" src="assets/js/vendor.min.js"></script>
    <script rel="prefetch" src="assets/vendor/aos/dist/aos.js"></script>
    <!-- JS Front -->
    <script rel="prefetch" src="assets/js/theme.min.js"></script>
    <script rel="prefetch" src="assets/js/owl.carousel.min.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        (function() {
            // INITIALIZATION OF HEADER
            // =======================================================
            new HSHeader('#header').init()


            // INITIALIZATION OF MEGA MENU
            // =======================================================
            new HSMegaMenu('.js-mega-menu', {
                desktop: {
                    position: 'left'
                }
            })
            // INITIALIZATION OF SHOW ANIMATIONS
            // =======================================================
            new HSShowAnimation('.js-animation-link')
            // INITIALIZATION OF BOOTSTRAP VALIDATION
            // =======================================================
            HSBsValidation.init('.js-validate', {
                onSubmit: data => {
                    data.event.preventDefault()
                    alert('Submited')
                }
            })
            // INITIALIZATION OF BOOTSTRAP DROPDOWN
            // =======================================================
            HSBsDropdown.init()
            // INITIALIZATION OF GO TO
            // =======================================================
            new HSGoTo('.js-go-to')
            // INITIALIZATION OF AOS
            // =======================================================
            // AOS.init({
            //   duration: 650,
            //   once: true
            // });
        })
        ()
    </script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/MyController/AditWebService.js"></script>
    <script src="js/MyController/AditWebAppController.js"></script>
    <script>
        const button = document.querySelector('.form-submitbuttonReqCall');
        const submit = document.querySelector('.submit');

        function toggleClass() {
            this.classList.toggle('active');
        }

        function addClass() {
            this.classList.add('finished');
        }

        button.addEventListener('click', toggleClass);
        button.addEventListener('transitionend', toggleClass);
        button.addEventListener('transitionend', addClass);

        $('.form-submitbuttonReqCall').click(function($e) {
            $e.preventDefault();
            //doSomething();
        });
    </script>
    <!-- InstanceBeginEditable name="EditRegion3" -->

    <!-- InstanceEndEditable -->
    <script>
        const tog1Elements = document.querySelectorAll('.tog1');
        tog1Elements.forEach(tog1 => {
            tog1.addEventListener('click', () => {
                const tog2 = tog1.nextElementSibling;
                if (tog2 && tog2.classList.contains('tog2')) {
                    tog2.classList.toggle('show');
                    tog1.classList.toggle('show');
                }
            });
        });
    </script>
</body>

<!-- InstanceEnd -->

</html>